---
import Layout from './../layouts/Layout.astro'
import Header from './../components/Header.astro'
---
<Layout>
	<Header></Header>
	<main class="bg-slate-900 h-screen container mx-auto">
		<section>
			<h2>hola</h2>
			<details class="bg-cyan-900">
				<summary>DD</summary>
				<p>Hola</p>
			</details>
		</section>
	</main>
</Layout>