<section class="h-[80vh] grid grid-col-1 lg:grid-cols-2 place-items-center">
  <div class="font-Gabarito p-6">
    <h1 class="text-5xl text-center lg:text-start">Bienvenidos a <span class="bg-clip-text text-transparent bg-blue-500">UnCompa</span></h1>
    <p class="mt-6 text-white/80 text-center lg:text-start">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur,
      inventore reiciendis, repellat qui nesciunt ut perferendis aut adipisci
      enim accusantium totam vel, similique laboriosam nihil? Ratione amet
      accusamus saepe hic.
    </p>
  </div>
  <div class="fill-secundario">
    <img src="./newportafolio/ilustracion.svg" alt="ilustracion" loading="lazy">
  </div>
</section>
