---
import './../styles/title.css'
---
<section class="h-[120vh] lg:h-screen grid grid-col-1 lg:grid-cols-2 place-items-center">
  <div class="font-Gabarito">
    <h1 class="font-Poppins text-6xl text-center lg:text-start text-transparent bg-clip-text bg-gradient-to-b from-cuarto to-primario">UnCompa</h1>
    <h2 class="text-center lg:text-start text-4xl py-4">Desarrollador Front-End</h2>
    <p class="px-2 md:px-0 mt-6 text-white/80 text-center lg:text-start">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur,
      inventore reiciendis, repellat qui nesciunt ut perferendis aut adipisci
      enim accusantium totam vel, similique laboriosam nihil? Ratione amet
      accusamus saepe hic.
    </p>
  </div>
  <div class="w-80 h-80 relative bg-red-500 flex gap-x-10 [background:url('/newportafolio/gato.jpg')] [background-size:cover] [background-position:center]">
    <div class="bg-black/50 h-full w-12"></div>
    <div class="bg-black/50 h-full w-12"></div>
    <div class="bg-black/50 h-full w-12"></div>
    <div class="bg-black/50 h-full w-12"></div>
    <div class="bg-black/50 h-full w-12"></div>
    <div class="bg-black/50 h-full w-12"></div>
  </div>
</section>
