---
import './../styles/title.css'
---
<section class="h-[100vh] grid grid-col-1 lg:grid-cols-2 place-items-center">
  <div class="font-Poppins">
    <h1 class="text-5xl text-center lg:text-start">Bienvenidos a <span class="text-5xl text-transparent">UnCompa</span></h1>
    <p class="px-2 md:px-0 mt-6 text-white/80 text-center lg:text-start">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur,
      inventore reiciendis, repellat qui nesciunt ut perferendis aut adipisci
      enim accusantium totam vel, similique laboriosam nihil? Ratione amet
      accusamus saepe hic.
    </p>
  </div>
  <div class="fill-secundario">
    <img src="/newportafolio/ilustracion.svg" alt="ilustracion" loading="lazy">
  </div>
</section>
