---
import './../styles/title.css'
---
<section class="h-[120vh] lg:h-screen grid grid-col-1 lg:grid-cols-2 place-items-center">
  <div class="font-Gabarito hero">
    <h1 class="font-Poppins text-6xl text-center lg:text-start text-transparent bg-clip-text bg-gradient-to-b from-cuarto to-primario">UnCompa</h1>
    <h2 class="text-center lg:text-start text-4xl py-4">Desarrollador Front-End</h2>
    <p class="px-2 md:px-0 mt-6 text-white/80 text-center lg:text-start">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur,
      inventore reiciendis, repellat qui nesciunt ut perferendis aut adipisci
      enim accusantium totam vel, similique laboriosam nihil? Ratione amet
      accusamus saepe hic.
    </p>
  </div>
  <div class="w-[400px] h-[400px] relative bg-red-500 flex gap-x-10 [background:url('/newportafolio/gato.jpg')] [background-size:cover] [background-position:end] shadow-2xl shadow-blue-500/20">
    <div class="bg-black/50 h-full w-12"></div>
    <div class="bg-black/50 h-full w-12"></div>
    <div class="bg-black/50 h-full w-12"></div>
    <div class="bg-black/50 h-full w-12"></div>
    <div class="bg-black/50 h-full w-12"></div>
    <div class="bg-black/50 h-full w-12"></div>
  </div>
</section>
<style>
  .hero {
    transform: translate(-150%);
    animation: moveleft 500ms ease-out forwards;
  }
  @keyframes moveleft {
    100%{
      transform: translate(0%);
    }
  }
</style>