<!doctype html>
<html lang="es">
  <head>
    <!-- HTML Meta Tags -->
    <title>UnCompa | Portafolio - Landing Page ✨</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Página donde se destacara los trabajos y habilidades."
    />
    <meta name="theme-color" content="#0af" />
    <meta name="color-scheme" content="dark" />
    <!-- Facebook Meta Tags -->
    <meta
      property="og:url"
      content="https://uncompa.github.io/newportafolio/"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="UnCompa | Portafolio - Landing Page ✨"
    />
    <meta
      property="og:description"
      content="Página donde se destacara los trabajos y habilidades."
    />
    <meta
      property="og:image"
      content="https://uncompa.github.io./newportafolio/index.png"
    />
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="uncompa.github.io" />
    <meta
      property="twitter:url"
      content="https://uncompa.github.io/newportafolio/"
    />
    <meta
      name="twitter:title"
      content="UnCompa | Portafolio - Landing Page ✨"
    />
    <meta
      name="twitter:description"
      content="Página donde se destacara los trabajos y habilidades."
    />
    <meta
      name="twitter:image"
      content="https://uncompa.github.io./newportafolio/index.png"
    />
    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <!--Links -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito&family=Inter&family=Montserrat&family=Poppins&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="./newportafolio/logos/9.png" type="image/x-icon">
  </head>
  <body class="bg-primario">
    <slot />
  </body>
</html>
